* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid grey 1px;
    width: 40vw;
    height: 50vh;
}

.container {
    margin-top: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}